<div class="planner-activity">
    <label class="">
        <input type="radio" name="planner-selected-activity" />
        <div class="round planner-activity-header">
            <div class="planner-activity-numeral">{{@index}}</div>

            <input type="text" class="round planner-activity-origin-input" value="{{origin_airport_code}}" list="planner-origin-airports-{{@index}}" />
            <datalist type="datalist" id="planner-origin-airports-{{@index}}"></datalist>

            <input type="text" class="round planner-activity-destination-input" value="{{destination_airport_code}}" list="planner-destination-airports-{{@index}}" />
            <datalist type="datalist" id="planner-destination-airports-{{@index}}"></datalist>

            <input type="date" class="round planner-activity-departure-date" value="{{departure_date}}" />
            <input type="button" class="round basic-button planner-remove-activity-button" value="Remove" />
        </div>
    </label>
    <div class="round planner-activity-child">
        No associated flight offers.
    </div>
</div>