<div class="round planner-result-item">
    <div>
        {{@index}}
    </div>
    <div class="planner-result-item-layout">
        <div class="planner-result-item-layout-col-1">
            <div>{{itineraries.0.segments.0.departure.iataCode}}</div>
            <div style="text-align: center;">to</div>
            <div>{{itineraries.0.segments.0.arrival.iataCode}}</div>
            <input disabled type="time" class="round departure-date" value="{{itineraries.0.segments.0.departure.at}}">
            <div></div>
            <input disabled type="time" class="round arrival-date" value="{{itineraries.0.segments.0.arrival.at}}">
                <img src="https://content.airhex.com/content/logos/airlines_{{itineraries.0.segments.0.carrierCode}}_70_20_r.png">
            {{!-- <div style="grid-column: span 3">{{itineraries.0.segments.0.carrierName}}</div> --}}
        </div>
        <div class="planner-result-item-layout-col-2">
            {{itineraries.0.duration}}
        </div>
        <div class="planner-result-item-layout-col-3">
            {{price.currency}} {{price.grandTotal}}
        </div>
        <div class="planner-result-item-layout-col-4">
            <input type="button" class="round basic-button planner-result-item-button" value="Add this flight">
        </div>
    </div>
</div>